aside#sidenav.mdc-drawer.mdc-drawer--permanent
    div.mdc-list-group
        nav.mdc-list
            a(href='/admin/books').mdc-list-item
                i.mdc-list-item__graphic.material-icons book
                | Книги
            a(href='/admin/topics').mdc-list-item
                i.mdc-list-item__graphic.material-icons apps
                | Темы