extends _layout

block header

block content
    main#main
        i.material-icons book
        h1 CodeLibrary
        p Библиотека разработчика

        a.mdc-button.mdc-button--raised(href='/auth/login') Войти
        | или
        a.mdc-button.mdc-button--raised(href='/auth/register') Зарегистрироваться