#error-page {
    #main {
        max-width: 1024px;
        margin: 2em auto;
        text-align: center;

        .error-icon {
            color: grey;
            font-size: 5em;
        }

        pre {
            text-align: left;
        }
    }
}