#user-page {

    #main {
        text-align: center;
        padding: 64px 16px 0px;
    }

    .user-photo {
        max-width: 128px;
        border-radius: 100%;
        display: inline-block;
    }

    .user-name {

    }

    .user-email {

    }
}