header.mdc-toolbar
    div.mdc-toolbar__row
        section.mdc-toolbar__section.mdc-toolbar__section--align-start
            span.mdc-toolbar__title= title

        section.mdc-toolbar__section.mdc-toolbar__serction--align-left.mdc-toolbar__section--shrink-to-fit
            nav.mdc-tab-bar
                a.mdc-tab(href='/auth/login') Войти
                a.mdc-tab(href='/auth/register') Зарегистрироваться